*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    height:72px;
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding-right: 50px;
}
header ul a{
text-decoration: none;
color: white;
}
header img{
   max-width: 100px;
   margin-left: 50px;
}
#container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: pink;
}
#texts{
    margin-left: 100px;
}
#texts h1{
    font-size: 36px;
    padding-top: 24px;
}
#texts p{
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
}
#picture img{
    padding-right: 100px;
    max-width: 600px;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
#button{
    width: 200px;
    height:40px;
    line-height: 40px;
    padding-left: 20px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
#button a{
    text-decoration: none;
}
#button1{
    margin-left: 40px;
    width: 200px;
    height:40px;
    line-height: 40px;
    padding-left: 39px;
    border-radius: 20px;
    border: 1px solid black;
}
#button1 a{
    text-decoration: none;
}
#texts span{
    font-size: 12px;
    padding-bottom:10px;
}
#download{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#download img{
    height: 50px;
    
}
section{
    height: 280px;
    background-color: rgb(239, 240, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h2{
    font-size: 40px;
    margin-top: 35px;
}
section p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
section span{
    font-size: 12px;
    margin-top: 20px;
    padding-bottom: 20px;
}
#payment{
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 250px;
    background-color: antiquewhite;
}
#payment h2{
    font-size: 48px;
    padding-top: 24px;
}
#images{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#images img{
    height: 50px;
    width: 60px;
    margin-left: 40px;
}
#payment a{
    text-decoration: none;
}
#all{
    height: 250px;
    display: flex;
    align-items: center;
    padding: 0px 32px;
    box-sizing: border-box;
    background-color: rgb(181, 177, 177); 
    flex-direction: row;
    margin: auto;
    gap: 24px;
    justify-content: center;
}
#all h3{
    font-size: 32px;
}
#all li{
    list-style: none;
    font-size: 16px;
    gap: 10px;
}
.group{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: row;
}
#all img{
    max-width: 15px;
}
#container1{
    background-color: rgb(20, 20, 20);
}
#con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.mini{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:350px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.mini img{
    max-width: 130px;
    margin-top: 16px;
    margin-left: 16px;
}
.mini h3{
    font-size: 32px;
    color: #c2f635;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}
.mini p{
    font-size: 16px;
    color: rgb(253, 255, 254);
    padding-bottom: 57px;
    border-bottom: 1px solid gray;
    padding-left: 16px;
}
.mini ul{
    color: white;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button{
    padding-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button button{
    border: none;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #c2f635;
    border-radius: 25px;
}
.terms h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px 20px 16px;
}
.terms a{
    color: white;
    font-size: 12px;
}
.Individual{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:350px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.Individual span{
    background-color: #fb7de4;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Individual img{
    max-width: 130px;
    margin-top: 16px;
    margin-left: 16px;
}
.Individual h3{
    font-size: 32px;
    color: #fb7de4;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}
.Individual p{
    font-size: 16px;
    color: rgb(253, 255, 254);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Individual h5{
    border-bottom: 1px solid gray;
    padding-left: 16px;
    font-size: 14px;
    color: rgb(158, 162, 160);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Individual ul{
    color: white;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.button1{
    padding-top: 60px;
    /* padding-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.button1 button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 60px;;
    cursor: pointer;
    background-color:#fb7de4;
    border-radius: 25px;
}
.Individual h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 12px;
}
.Individual a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 12px;
}
.Student{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:350px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.Student span{
    background-color: #737bf3;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Student img{
    max-width: 130px;
    margin-top: 16px;
    margin-left: 16px;
}
.Student h3{
    font-size: 32px;
    color: #737bf3;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}
.Student p{
    font-size: 16px;
    color: rgb(253, 255, 254);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Student h5{
    border-bottom: 1px solid gray;
    padding-left: 16px;
    font-size: 14px;
    color: rgb(158, 162, 160);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Student ul{
    color: white;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.button2{
    padding-top: 50px;
    /* padding-bottom: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.button2 button{
    border: none;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#737bf3;
    border-radius: 25px;
}
.Student h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    /* padding-top: 12px; */
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 12px;
}
.Student a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    /* padding-top: 12px; */
    padding-bottom: 20px;
    font-size: 12px;
}
#con2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 53%;
    margin: 0 auto;
}
.Duo{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:350px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.Duo span{
    background-color: #fd8f00;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Duo img{
    max-width: 130px;
    margin-top: 16px;
    margin-left: 16px;
}
.Duo h3{
    font-size: 32px;
    color: #fd8f00;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}
.Duo p{
    font-size: 16px;
    color: rgb(253, 255, 254);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Duo h5{
    border-bottom: 1px solid gray;
    padding-left: 16px;
    font-size: 14px;
    color: rgb(158, 162, 160);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Duo ul{
    color: white;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.button3{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button3 button{
    border: none;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#fd8f00;
    border-radius: 25px;
}
.Duo h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 12px;
}
.Duo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 12px;
}
.Family{
    display: flex;
    flex-direction: column;
    background-color: black;
    width:350px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.Family span{
    background-color: #052771;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 24px;
    line-height: 24px;
    padding-left: 24px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Family img{
    max-width: 130px;
    margin-top: 16px;
    margin-left: 16px;
}
.Family h3{
    font-size: 32px;
    color: #052771;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-weight: bold;
}
.Family p{
    font-size: 16px;
    color: rgb(253, 255, 254);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Family h5{
    border-bottom: 1px solid gray;
    padding-left: 16px;
    font-size: 14px;
    color: rgb(158, 162, 160);
    padding-bottom: 12px;
    padding-left: 16px;
}
.Family ul{
    color: white;
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.button4{
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button4 button{
    border: none;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#052771;
    border-radius: 25px;
}
.Family h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 16px;
    font-size: 12px;
}
.Family a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 12px;
}
#con3{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
#question h3{
    font-size: 32px;
    padding: 100px 100px 12px 100px;
    color: white;
}
#question p{
    font-size: 20px;
    margin: 0 auto;
    padding: 0 100px 12px 100px;
    color: white;
}
#question span{
    font-size: 16px;
    margin: 0 auto;
    padding: 0 80px 12px 40px;
    color: white;   
}
#question a{
    color: white;
}
.questions{
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid rgb(131, 123, 123);
    font-size: 18px;
    color: white;
}
.questions1{
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 18px;
    color: white;
}

